@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: antiquewhite;
}
nav {
    background-color:#F47621;
    padding: 4rem;
}
h1, p{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    color: aliceblue;
    font-size: 3.5rem;
}
p {
    font-size: 1rem;
    color: #FCDB1A;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
select {
    margin-top: 2rem;
    padding: 1rem;
    margin-left: 45%;
    border-radius: 10px;
    width: 10%;
    background-color: #FCDB1A;
    text-align: center;
    border: 1px dotted black;
    font-family: 'Poppins', sans-serif;
}
    @keyframes spin {
        to {
            transform: rotateZ(360deg);
        }
    }

    /* .dog-img {
        animation: spin 3s ease-in-out infinite;
    } */

img {
    margin-top: 1.5rem;
    border-radius: 10px;
    max-width: 30%;
}